.skeleton-card {
    $grandpaTag: &;
    height: 10rem !important;

    &-wrapper {
        width: inherit !important;
        margin: 0 -1rem !important;

        #{$grandpaTag}-column {
            padding: 0 1rem !important;
            width: var(--KSkeletonCardWidth, 33.3333333%) !important;
            box-sizing: border-box;
        }
    }
}
