.skeleton-card {
    $grandpaTag: &;

    &-wrapper {
        gap: 1rem;
        justify-content: space-between;

        #{$grandpaTag}-column {
            padding: 0;
            width: var(--KSkeletonCardWidth, calc(33% - 1rem));
        }
    }
}
